# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
Chapter 01/ex1.3/ex1.3.sln
*.db
Chapter 01/ex1.3/ex1.3.VC.VC.opendb
*.vcxproj
Chapter 01/ex1.3/ex1.3/ex1.3.vcxproj.filters
*.exe
Chapter 01/ex1.4/Debug/ex 1.4.ilk
*.pdb
Chapter 01/ex1.4/ex 1.4.sln
*.log
*.tlog
Chapter 01/ex1.4/ex 1.4/Debug/Source.obj
*.idb
Chapter 01/ex1.4/ex 1.4/ex 1.4.vcxproj.filters
